<article class="article-page">

  <div class="article-page__main-image-container">
    <img class="article-page__main-image" src="{{{article.mainImage.asset.url}}}" />
  </div>

  <div class="layout__center">
    <h1 class="article-page__title">{{{article.title}}}</h1>
    <div class="article-page__meta">
      Created {{{dateTime article._createdAt}}} Updated: {{{dateTime article._updatedAt}}}
      <ul class="article-page__authors">
        {{#each article.authors}}
        <li class="article-page__author">
          <div class="article-page__author__name">
            {{{name}}}
          </div>
        </li>
        {{/each}}
      </ul>
    </div>
    <div class="article-page__secondary-content">
      <div class="sticky">
        <ul class="article-page__toc">
          {{{headerMap article.content}}}
        </ul>
      </div>
    </div>
    <div class="article-page__primary-content">
      <p class="article-page__abstract">
        {{{blocks2html article.abstract}}}
      </p>

      <div class="article-page__body">
        {{{blocks2html article.content}}}
      </div>
    </div>
  </div>
</article>
